.scene {
  width: 100%;
  height: 100vh;
  perspective: 1200px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: hidden; /* Hide overflowing content */
}

.card__face--front {
  background: white;
}

.card__face--back {
  transform: rotateY(180deg);
  overflow-y: auto; /* Allow scrolling on the back face */
} 